@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');

/* :root {
  --primary: #5893d4;
  --secondary: #3379cd;
  --white: #f4f4f8;
  --black: #2a2a2a;
  --off-white: #dddde3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}

/* navigation */

/* nav {
  background-color: var(--secondary);
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

/* order input */

/* .input-container {
  display: flex;
  justify-content: center;
}

.input-group {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

/* order form */

/* .title {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.container {
  width: 90%;
  border: 1px solid #c3c3c3;
  margin: auto;
  align-items: center;
}

/* order table */

/* table {
  width: 100%;
  border: 1px solid black;
}

th,
td {
  border: 1px solid black;
  padding: 0.5rem;
}

th span {
  margin-right: 1rem;
}

input {
  -webkit-appearance: none;
  border: 1px solid gray;
  padding: 0.5rem;
  width: 100%;
  max-width: 100%;
  background: #f0f0f0;
}

/* button */

/* .controls {
  display: flex;
  justify-content: right;
}

.btn {
  color: #fff;
  border: 0;
  border-radius: 8px;
  color: #fff;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);
}

/* modal */

/* .modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: var(--off-white);
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid var(--white);
  border-bottom: 1px solid var(--white);
} */